@import url('https://fonts.google.com/css?family=Poppins:400,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
  display: flex; /* тип отображения*/
  justify-content: center; /* выравнивание по центру главной оси */
  align-items: center; /* выравнивание по центру поперечной оси */

  background-color: #03a9f4;
}

.container {
  width: 800px;
  height: 500px;
  padding: 40px 0; /* внутренний блок должен иметь отступы от контейнера снизу и сверху */
}

.block {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* блок станет полупрозрачным */
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.block-item {
  text-align: center;
}

.block-item__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;

  margin-bottom: 10px;
}

.form__btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px; /* внутренние поля */
  background-color: #fff;
  color: #333;
  font-style: 16px;
  font-weight: 500;
}
