@import url('https://fonts.google.com/css?family=Poppins:400,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
  display: flex; /* тип отображения*/
  justify-content: center; /* выравнивание по центру главной оси */
  align-items: center; /* выравнивание по центру поперечной оси */

  background-color: #03a9f4;
}

.container {
  width: 800px;
  height: 500px;
  padding: 40px 0; /* внутренний блок должен иметь отступы от контейнера снизу и сверху */
}

.block {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* блок станет полупрозрачным */
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.5);
}
