@import url('https://fonts.google.com/css?family=Poppins:400,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
  display: flex; /* тип отображения*/
  justify-content: center; /* выравнивание по центру главной оси */
  align-items: center; /* выравнивание по центру поперечной оси */
}

.container {
  width: 800px;
  height: 500px;
  padding: 20px 0; /* внутренний блок должен иметь отступы от контейнера снизу и сверху */
}

.block {
  height: 100%;
  background-color: #c8e6f3;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.block-item {
  text-align: center;
}

.block-item__title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;

  margin-top: 10px;
}

.block-item__form {
  width: 100%;
  padding: 20px 20px 10px 20px;
  font-size: 16px;

  column-count: 2;
}

.form-item {
  margin-bottom: 10px;

  display: block;
}

.form_label {
  float: left;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  font-size: 12px;

  margin-top: 5px;
}

.form__btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px; /* внутренние поля */
  background-color: #03a9f4;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.form__btn:enabled:active {
  background-color:#002ead;
}

.form__btn:disabled {
  opacity: 0.5;
  cursor: default;
}

/*
.form__input:invalid {
  border: 2px dashed red;
}

.form__input:valid {
  border: 1px solid #333;
}
*/
